body {
  background-color: #0B0C10;
  color: #C5C6C7;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  background-color: #45A29E;
  color: #66FCF1;
  margin-top: 15px;
}

.battle-screen {
  flex-flow: column wrap;
  justify-content: center;
}

.main-row {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}


.hype-level {
  padding: 10px;
}

.btn-dark {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  color: #C5C6C7;
  background-color: #1F2833;
  display: flex;
  justify-content: center;
}


.phase1 {
  display: none;
}


.phase2 {
  display: show;
}

.phase3 {
  display:none;
}

.battle-screen {
  flex: column;
  justify-content: center;
}



#banner-box {
  flex:column;
  border: black;
  font-size: 20px;
  text-align: center;
  padding: 40px 0 40px;
  background-color: white;
  height: 100px;
  margin-bottom: 10px;
}


.bars {
  position: relative;
  left: 10%;
}

.bars2 {
  position: relative;
  left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hype-label {
  margin-bottom: 2px;
}
.spacing {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
#attack-description{
  position: relative;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  width: 450px;
  height: 100px;
  margin-top:20px;
  margin-bottom:10px;
}

#box17{
  position: relative;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  width: 200px;
  height: 575px;
  margin-top:10px;
  margin-bottom:10px;
}


#box16{
  position: relative;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  width: 200px;
  height: 580px;
  margin-top:10px;
  margin-bottom:10px;
}





#button-box {
  position: relative;
  left: 15%;
  gap: 12px;
}



#intro-form {
  z-index: 2;
  position: fixed;
  top: 15%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
}

.btn-start {
  z-index: 2;
  position: fixed;
  top: 80%;
  left: 42%;
  width: 220px;
  height: 60px;
}

#name-input {
 border-style: groove double;
}

#start-btn-text {
  font-size:20px;
}

.hover {
  margin-top: 15px;
  margin-bottom:10px;
  padding: 10px 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  z-index: 1;
  width:90px;
  height: 75px;
}

.hover:hover {background-color: #B833FF}

.hover:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bg-intro-pic {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/Neon\ Pink\ Concert\ Instagram\ Post.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  display: show;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#metal-prep {
  display: none;
}

#country-prep {
  display: none;
}

#kpop-prep {
  display: none
}

#row3 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#player-turn-btn,
#enemy-turn-btn {
  display: none;
}