/*
Section 1 - HTML/Audio Pieces, prep displays (1-29)
Section 2 - Phases and Screens (38-76)
Section 3 - Boxes/Containers and Battle/Prep UI elements (79-154)
Section 4 - Buttons & Styling (158-222)
Section 5 - Pics (222 - End)
*/


.audio-center {
  display: block;
  margin: 0 auto;
}


body {
  background-color: #0B0C10;
  color: #C5C6C7;
}

.spacing {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

/* #Astra-music,
#Steve-music,
#Genesis-music {
  display: none;
} */



/* SECTION 2 This is where the CSS for the phases and screens can be found: */

/* .start-phase {
  display: none;
} */


.prep-phase {
  display: none;
}

.battle-phase {
  display: none;
}

.battle-screen {
  flex-flow: column wrap;
  justify-content: center;
}

#intro-form {
  z-index: 2;
  position: fixed;
  top: 15%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
}

#battle-page {
  display: none;
}

#victory-screen {
  display: none;
}

#game-over {
  display: none;
}

/* SECTION 3 this is where the CSS for containers/boxes and UI elements live */

.main-row {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}


.hype-level {
  padding: 10px;
}

.bars {
  position: relative;
  left: 10%;
}

.bars2 {
  position: relative;
  left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hype-label {
  margin-bottom: 2px;
}

#banner-box {
  flex:column;
  border: black;
  font-size: 20px;
  text-align: center;
  padding: 40px 0 40px;
  background-color: white;
  height: 100px;
  margin-bottom: 10px;
}

#column10 {
  flex: column;
  justify-content: space-between;
  position: relative;
}

#column20 {
  flex: column;
  justify-content: start;
  margin-top: 10px;
}

#dialogue-box {
  position: relative;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  width: 500px;
  height: 200px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 10px;
}

#prep-banner {
  margin-top: 10px;
  /* text-align: center; */

}

#row3 {
  display: flex;
  justify-content: center;
  gap: 15px;
}


/* SECTION 4 This is where the CSS for buttons lives */
.btn-start {
  z-index: 2;
  position: fixed;
  top: 80%;
  left: 42%;
  width: 220px;
  height: 60px;
}

.hover {
  margin-top: 15px;
  margin-bottom:10px;
  padding: 10px 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  z-index: 1;
  width:90px;
  height: 75px;
}

.hover:hover {background-color: #B833FF}

.hover:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#attack-description{
  position: relative;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  width: 450px;
  height: 100px;
  margin-top:20px;
  margin-bottom:10px;
}

#button-box {
  position: relative;
  left: 15%;
  gap: 12px;
}

#name-input {
  border-style: groove double;
 }


#start-btn-text {
  font-size:20px;
}


#player-turn-btn,
#enemy-turn-btn {
  display: none;
}

/* SECTION 5 this is where the CSS for pictures lives */

.boss-pic {
  width: 150px;
  height: auto;
  margin: 5px;
}

.bg-intro-pic {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/Neon\ Pink\ Concert\ Instagram\ Post.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
#garage-bkground {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/garage.jpeg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}
#metal-bkground {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/metal2.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}
#country-bkground {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/country2.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}
#kpop-bkground {
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 80%;
  background-attachment: fixed;
  background-image: url(../assets/images/bts3.jpg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prep-pic {
  width: 400px;
  height: auto;
}